$colorTextPrimary: var(--text-primary);
$colorTextSecondary: var(--text-secondary);
$colorTextWhite: var(--text-white);
$colorTextLight: var(--text-light);
$colorAppBackground: var(--app-background);
$colorAppBackgroundDark: var(--app-background-dark);
$colorScrollbar: var(--scrollbar);
$colorSelected: var(--selected);